.search {
    -webkit-appearance: none;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    width: 210px;
    line-height: 30px;
    margin: 20px;
    font-size: 22px;
}